@import "../../../_variables.scss";

.wrapper {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-gap: 1rem;
}

.input-container > div {
  border-radius: $xsmall-size;
}

.input {
  font-size: $medium-size;
  padding: $medium-14 $medium-14 $medium-14 19px;
  box-sizing: border-box;
  width: -webkit-fill-available;
  width: fill-available;
  border: 2px solid $light-grey-border;
  border-radius: $xsmall-size;
}

button {
  align-self: center;
}
