.icon-container {
  width: 100px;
  border-radius: 50%;

  img {
    width: 50px;
  }
}

.link {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

mat-expansion-panel {
  padding-block: 4px;
}
