$light-grey-border: #e5e5e5;
$dark-gray: #404040;

$header-font-size: 24px;
$bold-weight: 600;

$input-width: 500px;

$xsmall-size: 4px;
$small-size: 8px;
$small-medium-size: 12px;
$medium-size: 16px;
$medium-large-size: 24px;
$large-size: 32px;
$xlarge-size: 64px;
